@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background: linear-gradient(to bottom, #757bc8, #bbadff);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px 0px 30px;
  position: fixed;
  top: 0;
}

body {
  background-color: #bbadff;
}

.logo {
  height: 75px;
  width: auto;
  transition: all 0.3s;
}

.logo:hover {
  transform: scale(1.2);
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-list {
  gap: 30px;
  list-style: none;
}

.navbar-list li {
  transition: all 0.3s;
}

.navbar-list li:hover {
  transform: scale(1.1);
}

.navbar-list a {
  color: black;
  font-size: 20px;
  padding: 10px 12px;
  height: 30px;
  text-decoration: none;
}

.navbar-list li:first-child > a {
  color: var(#343a40);
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
}

#hero {
  margin-top: 63px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 45px;
  width: 80%;
  color: #343a40;
  min-width: 500px;
  font-weight: 800;
}
.hero-info p {
  font-size: 22px;
  width: 70%;
  color: black;
}
.hero-info a {
  color: black;
  background-color: #757bc8;
  width: 120px;
  padding: 8px 0px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}

.hero-info a:hover {
  transform: scale(1.1);
}

.hero-card {
  width: 700px;
  background: #bbadff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#info {
  margin-top: 40px;
  padding: 80px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.texto-info p {
  font-size: 20px;
  color: black;
}
